.cardn{
    width: 23rem;
    height: 33rem;
    margin: 2rem;
   border-radius: 1rem;
    background-color: #faf5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
  transition: box-shadow 0.3s ease-in-out; /* Add transition effect */
  transition: transform 0.3s ease-in-out;
 
}
.card-img-top10{
    height: 15rem;
    width: 22rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding: 5px;
    border-radius: 10px;
}

.cardn.hovered {
    transform: translateY(-10px); /* Adjust the value as needed */
  }
.card-title10{
    font-size: 20px;
    padding-left: 15px;
}
.cardn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the values for the hover effect */
  }
  .btn{
    background-color: orangered;
    color: white;
    font-size: 17px;
    border-radius: 5rem;
  }
  .bt1{
    padding-left: 12px;
  }

  /* .news {
    width: 100%;
    overflow: hidden;
  }
  
  .news1 {
    display: flex;
    animation: slideLeft 100s linear infinite; 
  
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-400%);
    }
    100% {
      transform: translateX(0);
    }
    
  } */
  
  